# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/

# Environment Variables (Rumba Mukkiyam!)
.env
.env.local
.env.*

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Mac system files.DS_Store
.DS_Store
# Windows system filesThumbs.db
ehthumbs.db
Desktop.ini
node_modules/
.env
build/
dist/